* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

main, ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: black; }
  main P, ul P {
    font-size: 20px;
    padding: 20px;
    color: blanchedalmond; }

li {
  list-style: none;
  padding-top: 6px;
  display: flex;
  flex-direction: column; }

@media (min-width: 300px) {
  div {
    width: 90%;
    margin: 1em;
    margin-bottom: 20em; }
    div h1, div h2 {
      margin-top: 8px;
      margin-bottom: 1em;
      color: blanchedalmond; }
    div label {
      background: black;
      text-transform: uppercase;
      color: blanchedalmond; }
    div input {
      margin: 11px;
      background: black;
      text-align: center;
      border: none;
      border-bottom: 2px solid blanchedalmond; }
    div .boton {
      width: 98%;
      border: 2px solid greenyellow;
      margin-top: 15px; }
      div .boton input {
        margin: 0;
        border: none; } }

@media (min-width: 768px) {
  main p {
    margin-top: 2em; }
  div {
    margin: 1em;
    margin-bottom: 22em; }
    div h1, div h2 {
      margin-top: 25px;
      margin-bottom: 4em; } }

@media (min-width: 1024px) {
  main p {
    margin-top: 14em; }
  div {
    margin: 1em;
    margin-bottom: 40em; } }
