* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

* img {
  width: 100%;
  height: auto; }

body {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  animation-name: ancho;
  animation-direction: normal;
  animation-duration: 4s; }

li {
  list-style: none; }

@media (min-width: 300px) {
  main {
    width: 100%;
    height: 100%;
    background-image: url(../IMGS/imgmain.jpg);
    background-position: center;
    background-size: cover; }
    main nav {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding-top: 1em; }
      main nav img {
        width: 0; }
      main nav h1 {
        color: aliceblue; }
      main nav ol {
        display: flex;
        font-size: 11px; }
        main nav ol li {
          padding: 9px;
          text-transform: uppercase; }
          main nav ol li a {
            color: aliceblue;
            text-shadow: 1px 1px 10px black;
            text-decoration: none; }
          main nav ol li a:hover {
            font-size: 17px;
            color: royalblue; }
    main section {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      height: 11em;
      margin-bottom: 10px;
      font-size: 21px; }
      main section h2 {
        text-transform: uppercase;
        color: antiquewhite;
        text-shadow: 1px 2px black;
        font-size: 20px; }
      main section h3 {
        text-transform: uppercase;
        color: antiquewhite;
        text-shadow: 2px 2px 12px black;
        padding-top: 5px; }
      main section span {
        text-transform: uppercase;
        font-size: 1em;
        color: antiquewhite;
        text-shadow: 2px 2px 12px black;
        padding-top: 5px; }
    main aside {
      height: 3em; }
      main aside ul {
        width: 100%;
        display: flex;
        justify-content: space-between; }
        main aside ul li {
          width: 60px;
          mix-blend-mode: luminosity; }
          main aside ul li img {
            opacity: 0.5; }
    main footer {
      width: 100%;
      height: 4em;
      display: flex;
      justify-content: space-around;
      align-items: center;
      background: black;
      margin-top: 2em; }
      main footer #contenedor {
        width: 105px;
        animation-name: girar;
        animation-duration: 5s;
        animation-direction: normal;
        animation-delay: 2s; }
      main footer #contenedor:hover {
        width: 185px;
        transition: 0.3s;
        animation: temblar 0.5s 1; }
      main footer #MedioPago {
        width: 110px;
        color: aliceblue; } }

@media (min-width: 340px) {
  main section {
    height: 13em; }
  main aside {
    height: 3em;
    margin-top: 2em; }
  main footer {
    margin-top: 4em; } }

@media (min-width: 411px) {
  main section {
    height: 16em; }
    main section h1 {
      font-size: 25px; }
    main section span {
      font-size: 2em; }
  main aside {
    padding-top: 2em; }
  main footer {
    margin-top: 7em; } }

@media (min-width: 767px) {
  main nav {
    display: flex;
    flex-direction: row; }
    main nav img {
      min-width: 15%;
      mix-blend-mode: darken;
      padding: 1em; }
    main nav h1 {
      display: none; }
    main nav a {
      font-size: 1.5em;
      text-shadow: 1px 3px black; }
  main section {
    height: 20em; }
    main section h2 {
      font-size: 2em;
      padding-top: 3em; }
    main section h3 {
      font-size: 2em; }
    main section span {
      font-size: 3em; }
  main aside {
    height: 11em; }
    main aside ul li {
      width: 150px; }
  main footer {
    height: 7em; }
    main footer #contenedor {
      width: 183px; }
    main footer #MedioPago {
      width: 220px;
      text-align: center;
      font-size: 1.5em; } }

@media (min-width: 1023px) {
  main nav ol {
    font-size: 17px; }
  main section {
    height: 28em; }
  main footer {
    height: 8em;
    margin-top: 10em; }
    main footer #contenedor {
      width: 250px; }
    main footer #MedioPago {
      width: 12em; } }

@media (min-width: 1100px) {
  main nav {
    height: 22em; }
    main nav ol {
      font-size: 10px; }
      main nav ol li a {
        color: #131212; }
  main section {
    height: 15em; }
  main aside {
    height: 5em;
    padding-top: 0; }
    main aside ul {
      justify-content: space-around; }
      main aside ul li {
        width: 65px; }
  main footer {
    height: 8em;
    margin-top: 2.5em;
    background: none;
    justify-content: center; }
    main footer #contenedor {
      width: 180px; }
    main footer #MedioPago {
      color: blanchedalmond;
      text-shadow: 3px 1px 6px darkblue;
      margin-left: 3em; } }

@keyframes girar {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes temblar {
  0% {
    transform: translate(0px, 0px); }
  10% {
    transform: translate(15px, 0px); }
  20% {
    transform: translate(0px, 0px); }
  30% {
    transform: translate(15px, 0px); }
  40% {
    transform: translate(0px, 0px); }
  50% {
    transform: translate(15px, 0px); }
  60% {
    transform: translate(0px, 0px); }
  70% {
    transform: translate(15px, 0px); }
  80% {
    transform: translate(0px, 0px); }
  90% {
    transform: translate(15px, 0px); }
  100% {
    transform: translate(0px, 0px); } }
