* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

* img {
  width: 100%;
  height: auto;
}

body {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  animation-name: ancho;
  animation-direction:normal;
  animation-duration: 4s;
}

li {
  list-style: none;
}



@media (min-width : 300px){


 main {
   width: 100%;
   height: 100%;
   background-image: url(../IMGS/imgmain.jpg);
   background-position: center;
   background-size: cover;

   nav {
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
     padding-top: 1em;

     img {
      width: 0;
     }

     h1 {
       color: aliceblue;
     }

     ol {
       display: flex;
       font-size: 11px;

       li {
          padding: 9px;
          text-transform: uppercase;

          a {
            color: aliceblue;
            text-shadow: 1px 1px 10px black;
            text-decoration: none;
          }

          a:hover {
            font-size: 17px;
            color:royalblue;
          }
       }
     }
   }

   section {
     display:flex;
     flex-direction: column;
     justify-content: flex-end;
     align-items: center;
     height: 11em;
     margin-bottom: 10px;
     font-size: 21px;

     h2 {
       text-transform: uppercase;
       color: antiquewhite;
       text-shadow: 1px 2px black;
       font-size: 20px;
     }

     h3 {
       text-transform: uppercase;
       color: antiquewhite;
       text-shadow: 2px 2px 12px black;
       padding-top: 5px;
     }

     span {
       text-transform: uppercase;
       font-size: 1em;
       color:antiquewhite;
       text-shadow: 2px 2px 12px black;
       padding-top: 5px;
     }
   }

   aside {
     height: 3em;

     ul{
       width: 100%;
       display: flex;
       justify-content: space-between;

       li {
         width: 60px;
         mix-blend-mode: luminosity;

         img {
           opacity: 0.5;
         }
       }
     }
   }
   footer {
     width: 100%;
     height: 4em;
     display:flex;
     justify-content: space-around;
     align-items: center;
     background: black;
     margin-top: 2em;

     #contenedor {
       width: 105px;
       animation-name: girar;
       animation-duration: 5s;
       animation-direction:normal;
       animation-delay: 2s;
     }

     #contenedor:hover{
       width: 185px;
       transition: 0.3s;
       animation: temblar 0.5s 1;
     }


     #MedioPago {
      width: 110px;
      color: aliceblue;

     }
   }
 }
}


@media (min-width : 340px){
main {

    section {
      height: 13em;
    }

    aside {
      height: 3em;
      margin-top: 2em;
    }

    footer {
      margin-top: 4em;
    }
  }
}


@media (min-width:411px) {
  main {
    section {
      height: 16em;

      h1 {
        font-size: 25px;
      }

      span {
        font-size: 2em;
      }
    }

    aside {
    padding-top: 2em;
  }
  footer {
    margin-top: 7em;
  }
 }
}



@media (min-width:767px){

 main{

   nav {
     display:flex ;
     flex-direction: row;

    img {
     min-width: 15%;
     mix-blend-mode: darken;
     padding: 1em;
    }

    h1 {
     display: none;
    }

    a {
      font-size: 1.5em;
      text-shadow: 1px 3px black;
    }
   }

   section {
    height: 20em;

    h2 {
      font-size: 2em;
      padding-top: 3em;
    }

    h3 {
      font-size: 2em;
    }

    span {
      font-size: 3em;
    }
  }
  aside {
    height: 11em;

    ul{

      li{
        width: 150px;
      }
    }
  }
  footer {
    height: 7em;

    #contenedor {
      width: 183px;
    }

    #MedioPago{
      width: 220px;
      text-align: center;
      font-size: 1.5em;
    }
  }
 }
}


@media (min-width:1023px){
  main {

    nav {

       ol {
         font-size: 17px;
       }
    }

   section {
     height: 28em;
   }

   footer {
     height: 8em;
     margin-top: 10em;

     #contenedor {
       width: 250px;
     }

     #MedioPago {
       width: 12em;
     }
   }
 }
}



@media (min-width:1100px){
  main {

   nav {
     height: 22em;

      ol{
        font-size: 10px;

        li{

          a {
            color: rgb(19, 18, 18);
          }
        }
      }
    }

   section {
     height: 15em;
   }

   aside {
     height: 5em;
     padding-top: 0;

     ul{
       justify-content: space-around;

      li{
        width: 65px;
      }
     }
    }

    footer {
      height: 8em;
       margin-top: 2.5em;
       background: none;
       justify-content: center;

       #contenedor {
         width: 180px;
       }

      #MedioPago {
        color: blanchedalmond;
        text-shadow: 3px 1px 6px darkblue;
        margin-left: 3em;

      }
    }
  }
}

@keyframes girar {
  0% {
    transform:rotate(0deg);
  }
  100% {
    transform:rotate(360deg);
  }
}

@keyframes temblar {
  0% { transform :translate(0px ,0px);}
  10% { transform :translate(15px ,0px);}
  20% { transform :translate(0px ,0px);}
  30% { transform :translate(15px ,0px);}
  40% { transform :translate(0px ,0px);}
  50% { transform :translate(15px ,0px);}
  60% { transform :translate(0px ,0px);}
  70% { transform :translate(15px ,0px);}
  80% { transform :translate(0px ,0px);}
  90% { transform :translate(15px ,0px);}
  100% {transform :translate(0px ,0px);}
}